<!DOCTYPE html>
<html>
<head>
<!-- 	<script>
	// document.write(5 +6);
	// let response =  fetch("/test");
	// let json =  response.json();
  	// document.write(json);
  	document.write("hi");
	if (response.ok) { 
  	let json = response.json();
  	document.write(json);
	} 
	else {
	  alert("HTTP-Error: " + response.status);
	}
</script> -->
	<title>
		AI Voice ASSISTANT
	</title>
</head>
<body>
	This is a Voice Assistant
	<form method="post", action="\">
    <input type="submit" value="Start" />
    </form>

</body>


</html>
